<h1>{{title}}</h1>
<app-prueba></app-prueba>
<app-prueba2></app-prueba2>
<div class="container">
  <div class="d-grid gap-2 col-2 mt-4">
    <button type="button" name="" id="" class="btn btn-primary" (click) = "getAllUsers()">
      Solicitar datos de usuarios
    </button>
  </div>
</div>
<div class="container">
  <div class="d-grid gap-2 col-2 mt-4">
    <button type="button" name="" id="" class="btn btn-warning" (click) = "getUser()">
      Buscar un usuario
    </button>
  </div>
</div>
<div class="container">
  <div class="d-grid gap-2 col-2 mt-4">
    <button type="button" name="" id="" class="btn btn-secondary" (click) = "createUser()">
      Crear un usuario
    </button>
  </div>
</div>
<div class="container">
  <div class="d-grid gap-2 col-2 mt-4">
    <button type="button" name="" id="" class="btn btn-success" (click) = "updateUser()">
      Actualizar un usuario
    </button>
  </div>
</div>
<div class="container">
  <div class="d-grid gap-2 col-2 mt-4">
    <button type="button" name="" id="" class="btn btn-danger" (click) = "deleteUser()">
      borrar un usuario
    </button>
  </div>
</div>

<router-outlet></router-outlet>
