<form class="d-flex" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="col">

        <div class="mb-3 pt-4">
            <div class="input-group">
                <span ngClass="{{mode=='login'? 'input-group-text col-lg-2 col-md-3 col-5':'input-group-text col-5'}}">
                    <i class="bi bi-person-circle"></i> &nbsp;
                    {{mode=='add'? 'Nuevo usuario':'Nombre user'}}
                </span>
                <input type="text" name="username" id="username" *ngIf="mode!='edit'"
                    ngClass="{{mode=='login'? 'form-control col-4':'form-control'}}" [(ngModel)]="user.username"
                    placeholder="Introduzca nombre usuario..." required>
                <input type="text" name="username" id="username" *ngIf="sentUser"
                    class="form-control" [(ngModel)]="sentUser.username"
                    placeholder="Introduzca un nombre de usuario..." required>
                <small *ngIf="usernameError!=''" class="text-danger col-10"><i class="bi bi-exclamation-triangle-fill"></i> {{usernameError}}</small>
                <div class="col d-md-block d-none" *ngIf="mode=='login'"></div>
            </div>
        </div>

        <div class="mb-3">
            <div class="input-group">
                <span ngClass="{{mode=='login'? 'input-group-text col-lg-2 col-md-3 col-5':'input-group-text col-5'}}">
                    <i class="bi bi-envelope-slash"></i> &nbsp;
                    Contraseña
                </span>
                <input type="password" name="pass" id="pass" *ngIf="mode!='edit'" 
                    ngClass="{{mode=='login'? 'form-control col-4':'form-control'}}" [(ngModel)]="user.password" 
                    placeholder="Introduzca una contraseña..." required
                    pattern=".{4,}" title="Introduzca al menos 4 caracteres">
                <input type="password" name="pass" id="pass" *ngIf="sentUser" 
                    class="form-control" [(ngModel)]="sentUser.password" 
                    placeholder="Introduzca una contraseña..." required
                    pattern=".{4,}" title="Introduzca al menos 4 caracteres">
                <small *ngIf="passwordError!=''" class="text-danger col-10"><i class="bi bi-exclamation-triangle-fill"></i> {{passwordError}}</small>
                <div class="col d-md-block d-none" *ngIf="mode=='login'"></div>
            </div>
        </div>

        <div class="mb-3" *ngIf="mode=='add'">
            <div class="input-group">
                <span class="input-group-text col-5">
                    <i class="bi bi-person-lines-fill"></i> &nbsp;
                    Rol
                </span>
                <select class="form-select" name="role" id="role" [(ngModel)]="user.admin">
                    <option [value]="false">Usuario normal</option>
                    <option [value]="true">Administrador</option>
                </select>
            </div>
        </div>

        <div class="mb-3" *ngIf="sentUser">
            <div class="input-group">
                <span class="input-group-text col-5">
                    <i class="bi bi-person-lines-fill"></i> &nbsp;
                    Rol
                </span>
                <select class="form-select" name="role" id="role" [(ngModel)]="sentUser.admin">
                    <option [value]="false">Usuario normal</option>
                    <option [value]="true">Administrador</option>
                </select>
            </div>
        </div>

        <div class="mb-3" *ngIf="mode!='login'">
            <div class="input-group">
                <span class="input-group-text col-5">
                    <i class="bi bi-person-square"></i> &nbsp;
                    Nombre
                </span>
                <input type="text" name="nombre" id="nombre" *ngIf="mode!='edit'"
                    ngClass="{{mode=='login'? 'form-control col-4':'form-control'}}" [(ngModel)]="user.nombre"
                    placeholder="Introduzca nombre..." required>
                <input type="text" name="nombre" id="nombre" *ngIf="sentUser"
                    class="form-control" [(ngModel)]="sentUser.nombre"
                    placeholder="Introduzca nombre..." required>
                <small *ngIf="nombreError!=''" class="text-danger col-10"><i class="bi bi-exclamation-triangle-fill"></i> {{nombreError}}</small>
                <div class="col d-md-block d-none" *ngIf="mode=='login'"></div>
            </div>
        </div>
        <div class="mb-3" *ngIf="mode!='login'">
            <div class="input-group">
                <span class="input-group-text col-5">
                    <i class="bi bi-person-bounding-box"></i> &nbsp;
                    Apellido
                </span>
                <input type="text" name="apellido" id="apellido" *ngIf="mode!='edit'"
                    ngClass="{{mode=='login'? 'form-control col-4':'form-control'}}" [(ngModel)]="user.apellido"
                    placeholder="Introduzca apellido..." required>
                <input type="text" name="apellido" id="apellido" *ngIf="sentUser"
                    class="form-control" [(ngModel)]="sentUser.apellido"
                    placeholder="Introduzca apellido..." required>
                <small *ngIf="apellidoError!=''" class="text-danger col-10"><i class="bi bi-exclamation-triangle-fill"></i> {{apellidoError}}</small>
                <div class="col d-md-block d-none" *ngIf="mode=='login'"></div>
            </div>
        </div>
        <div class="mb-3" *ngIf="mode!='login'">
            <div class="input-group">
                <span class="input-group-text col-5">
                    <i class="bi bi-person-badge"></i> &nbsp;
                    NIF
                </span>
                <input type="text" name="nif" id="nif" *ngIf="mode!='edit'"
                    ngClass="{{mode=='login'? 'form-control col-4':'form-control'}}" [(ngModel)]="user.nif"
                    placeholder="Introduzca NIF..." required
                    pattern="[0-9]{8}[A-Za-z]" (input)="validarNif(f)">
                <input type="text" name="nif" id="nif" *ngIf="sentUser"
                    class="form-control" [(ngModel)]="sentUser.nif"
                    placeholder="Introduzca NIF..." required
                    pattern="[0-9]{8}[A-Za-z]" (input)="validarNif(f)">
                <small *ngIf="nifError!=''" class="text-danger col-10"><i class="bi bi-exclamation-triangle-fill"></i> {{nifError}}</small>
                <div class="col d-md-block d-none" *ngIf="mode=='login'"></div>
            </div>
        </div>
        <div class="mb-5" *ngIf="mode!='login'">
            <div class="input-group">
                <span class="input-group-text col-5">
                    <i class="bi bi-envelope"></i> &nbsp;
                    E-mail
                </span>
                <input type="email" name="email" id="email" *ngIf="mode!='edit'"
                    ngClass="{{mode=='login'? 'form-control col-4':'form-control'}}" [(ngModel)]="user.email"
                    placeholder="Introduzca E-mail..." required>
                <input type="email" name="email" id="email" *ngIf="sentUser"
                    class="form-control" [(ngModel)]="sentUser.email"
                    placeholder="Introduzca E-mail..." required>
                <small *ngIf="emailError!=''" class="text-danger col-10"><i class="bi bi-exclamation-triangle-fill"></i> {{emailError}}</small>
                <div class="col d-md-block d-none" *ngIf="mode=='login'"></div>
            </div>
        </div>

        <div *ngIf="mode!='login'; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <div class="mb-3 row">
                <div class="col-sm-4 col-5">
                    <button type="submit" ngClass="{{mode=='add'? 'btn btn-success w-100':'btn btn-primary w-100'}}">
                        <i *ngIf="mode=='add'" class="bi bi-person-plus-fill"></i>
                        <i *ngIf="mode=='edit'" class="bi bi-pencil-square"></i> &nbsp;
                        {{mode=='add'? 'Añadir':'Actualizar'}}
                    </button>
                </div>
                <div class="col-sm-4 col-5">
                    <button type="button" class="btn btn-danger w-100" data-bs-dismiss="modal">
                        <i class="bi bi-x-square"></i> &nbsp;
                        Cancelar
                    </button>
                </div>
            </div>
        </ng-template>
        <ng-template #elseBlock>
            <div class="d-flex justify-content-center pt-4">
                <button type="submit" class="btn btn-success col-4 col-md-2">
                    <i class="bi bi-box-arrow-in-right"></i> &nbsp;
                    Login
                </button>
            </div>
        </ng-template>
        <small *ngIf="backendReject!=''" class="text-danger col-10"><i class="bi bi-exclamation-triangle-fill"></i> {{backendReject}}</small>
    </div>
</form>