<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center">Datos de mi cuenta</h4>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">Nombre de usuario: <span class="text-primary">{{user.username}}</span></li>
            <li class="list-group-item text-center">Contraseña: <span class="text-primary">{{user.password}}</span></li>
            <li class="list-group-item text-center">Permisos de administrador: <span [ngClass]="user.admin?'text-success':'text-danger'">{{user.admin? 'Sí':'No'}}</span></li>
            <li class="list-group-item text-center">Nombre: <span class="text-primary">{{user.nombre}}</span></li>
            <li class="list-group-item text-center">Apellidos: <span class="text-primary">{{user.apellido}}</span></li>
            <li class="list-group-item text-center">NIF: <span class="text-primary">{{user.nif}}</span></li>
            <li class="list-group-item text-center">E-mail: <span class="text-primary">{{user.email}}</span></li>
        </ul>
        <div class="pb-3 pt-3 d-flex justify-content-center">
            <button type="button" class="btn btn-danger" (click)="logout()">
                <i class="bi bi-box-arrow-right"></i> &nbsp;
                Logout
            </button>
        </div>
    </div>
</div>
