<!-- Nav tabs -->
<ul class="nav nav-tabs sticky-top bg-white" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button 
      class="nav-link" 
      id="home-tab" 
      type="button" 
      role="tab" 
      aria-controls="home-tab" 
      aria-selected="false"
      routerLink=""
      routerLinkActive="active"
    >Home</button>
  </li>
  <li class="nav-item" role="presentation">
    <button 
      class="nav-link" 
      id="account-tab" 
      type="button" 
      role="tab" 
      aria-controls="account-tab" 
      aria-selected="false"
      routerLink="/account" 
      routerLinkActive="active"      
    >Mi Cuenta</button>
  </li>
  <li class="nav-item" role="presentation">
    <button 
      class="nav-link" 
      id="info-tab" 
      type="button" 
      role="tab" 
      aria-controls="info-tab" 
      aria-selected="false"
      routerLink="/info" 
      routerLinkActive="active"      
    >Acerca de</button>
  </li>
  <li class="nav-item" role="presentation">
    <button 
      class="{{admin? 'nav-link':'nav-link d-none'}}" 
      id="user-tab" 
      type="button" 
      role="tab" 
      aria-controls="user-tab" 
      aria-selected="false"
      routerLink="/admin" 
      routerLinkActive="active"      
    >Usuarios</button>
  </li>
</ul>